In [1]:
print("coversion of temperature")
c = 24
f = (9/5)*c + 32
print("Temperature in fahrenheit is: ",f)

coversion of temperature
Temperature in fahrenheit is:  75.2

In [5]:
p = int(input("Enter the principal amount: "))
r = int(input("Enter rate of interest: "))
t = int(input("Enter time period: "))
si = (p*r*t)/100
ci = p + si
print("Simple interest is :",si)
print("Cumulative interest is :",ci)

Enter the principal amount: 10000
Enter rate of interest: 5
Enter time period: 4
Simple interest is : 2000.0
Cumulative interest is : 12000.0

In [8]:
p = int(input("Enter the principal amount: "))
si = int(input("Enter interest: "))
t = int(input("Enter time period: "))
roi = (si*100)/(p*t)
print("Rate of interest is :",roi)

Enter the principal amount: 1000
Enter interest: 300
Enter time period: 2
Rate of interest is : 15.0

In [10]:
p = int(input("Enter the principal amount: "))
r = int(input("Enter rate of interest: "))
si = int(input("Enter interest: "))
t = (si*100)/(p*r)
print("Time is ",t)

Enter the principal amount: 1000
Enter rate of interest: 15
Enter interest: 300
Time is  2.0

In [15]:
a = 10
b = 20
temp = a
a = b
b = temp
print("After swap values of a and b ",a,b)

After swap values of a and b  20 10

In [13]:
a = 10
b = 20
a,b = b,a
print("After  swap value of a and b",a,b)

After  swap value of a and b 20 10

In [16]:
a = "Kumar"
b = "Abhishek"
temp = a
a = b
b = temp
print("After swap a and b",a,b)

After swap a and b Abhishek Kumar

In [17]:
a = "Kumar"
b = "Abhishek"
a,b = b,a
print("After  swap value of a and b",a,b)

After  swap value of a and b Abhishek Kumar

In [21]:
t_b = 10
t_h = 12
r_a = 15
r_b = 20
r = 7
pi = 3.14
at = 1/2*t_b*t_h
ar = r_a*r_b
ac = pi*r*r
a_s = 4*pi*r*r
print("Area of triangle :",at)
print("Area of rectangle :",ar)
print("Area of circle :",ac)
print("Area of sphere :",a_s)

Area of triangle : 60.0
Area of rectangle : 300
Area of circle : 153.86
Area of sphere : 615.44

In [32]:
str = "As we all know , paragraph is group of sentence that are connected and make absolute sense"
print(str[10:26])

know , paragraph

In [34]:
str = "Abhishek kumar"
print("New name is ",str[1:13])

New name is  bhishek kuma

In [43]:
x = 2
y = 2
n = 3
a =(((x**2+x**3)/(y/4+y/3+y**8))**(2*n))*((y**6+y**2)/x**9)
print("value of expression is ",a)

value of expression is  1.371002901615163e-09

In [44]:
a = "abhishek kumar"
b = "ABHISHEK KUMAR"
a1 = a.upper()
b1 = b.lower()
print("a in upper ",a1)
print("b in lower ",b1)

a in upper  ABHISHEK KUMAR
b in lower  abhishek kumar

In [1]:
str = 'Abcd'
str[0:]

'Abcd'