In [23]:
#Q1
n = int(input("Enter value of n"))
P = int(input("Enter value of P"))
def foo(n,p):
  if n == 0:
    return 0
  else :
    P = 0
    k = n%10
    n= n//10
    P= P+k+n
    print("P :",P)
    print("n :",n)
    print("k :",k)
    foo(n,P)
foo(3042,0)

Enter value of n1
Enter value of P2
P : 306
n : 304
k : 2
P : 34
n : 30
k : 4
P : 3
n : 3
k : 0
P : 3
n : 0
k : 3

In [2]:
#Q2
def add(x, y):
    return x + y
def subtract(x, y):
    return x - y
def multiply(x, y):
    return x * y
def divide(x, y):
    if y == 0:
        raise ValueError("Cannot divide by zero")
    return x / y
print("Select operation.")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")
while True:
    
    choice = input("Enter choice(1/2/3/4): ")
    
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            try:
                print(num1, "/", num2, "=", divide(num1, num2))
            except ValueError as e:
                print(e)
        break
    else:
        print("Invalid Input")

Select operation.
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice(1/2/3/4): 4
Enter first number: 3
Enter second number: 4
3.0 / 4.0 = 0.75

In [4]:
#Q2
def cal(a,b):
    c = a+b
    d = a-b
    e = a*b
    f = a/b
    
    print("Sum :",c)
    print("Subtraction :",d)
    print("Multiplication :",e)
    print("Division :",f)


cal(2,3)

Sum : 5
Subtraction : -1
Multiplication : 6
Division : 0.6666666666666666

In [17]:
#Q3
def multiply(a,b):
    for i in b:
        a=a*i
        print(a)
def add(a):
    s=0
    for i in a:
        s=s+i
    print(s)
tup = (2,3,4,5,6,7)
l_temp = list(tup)
add(l_temp)

27

In [18]:
#Q3
def multiply(a,*b):
  print(a)
  print(b)
  print(type(a))
  print(type(b))
  a=a
  for i in b:
    a= a*i
  print(a)
multiply(2,3,4,5,6,7)

2
(3, 4, 5, 6, 7)
<class 'int'>
<class 'tuple'>
5040

In [5]:
#Q4
def check(st):
    rev=st[::-1]
    print("String :",st)
    print("Reverse :",rev)
    if(st==rev):
        return True
    else:
        return false
x = input("Enter a string")
if check(x):
    print("it is palindrome")
else:
    print("Not a palindrome")

Enter a stringabba
String : abba
Reverse : abba
it is palindrome