In [7]:
#Q1)
f1 = input("Enter name of fruit 1 ")
f2 = input("Enter name of fruit 2 ")
f3 = input("Enter name of fruit 3 ")
f4 = input("Enter name of fruit 4 ")
f5 = input("Enter name of fruit 5 ")
f6 = input("Enter name of fruit 6 ")
f7 = input("Enter name of fruit 7 ")
fruitlist = [f1,f2,f3,f4,f5,f6,f7]
print(fruitlist)

Enter name of fruit 1 apple
Enter name of fruit 2 banana
Enter name of fruit 3 orange
Enter name of fruit 4 guava
Enter name of fruit 5 mango
Enter name of fruit 6 pineapple
Enter name of fruit 7 lichi
['apple', 'banana', 'orange', 'guava', 'mango', 'pineapple', 'lichi']

In [8]:
#Q2)
m1 = int(input("enter marks of student 1 "))
m2 = int(input("enter marks of student 2 "))
m3 = int(input("enter marks of student 3 "))
m4 = int(input("enter marks of student 4 "))
m5 = int(input("enter marks of student 5 "))
m6 = int(input("enter marks of student 6 "))
marks = [m1,m2,m3,m4,m5,m6]
marks.sort()
print(marks)

enter marks of student 1 10
enter marks of student 2 8
enter marks of student 3 7
enter marks of student 4 5
enter marks of student 5 8
enter marks of student 6 9
[5, 7, 8, 8, 9, 10]

In [9]:
#Q3)
tup = (1,2,3)
tup[0]=2
print(tup)

TypeError: 'tuple' object does not support item assignment

In [12]:
#Q4
m1 = int(input("enter marks of student 1 "))
m2 = int(input("enter marks of student 2 "))
m3 = int(input("enter marks of student 3 "))
m4 = int(input("enter marks of student 4 "))
list = [m1,m2,m3,m4]
print(list)
sum = list[0]+list[1]+list[2]+list[3]
print("Sum is",sum)

enter marks of student 1 10
enter marks of student 2 20
enter marks of student 3 22
enter marks of student 4 25
[10, 20, 22, 25]
Sum is 77

In [11]:
#Q5)
tup = (0,8,0,0,9)
tup.count(0)

3