In [6]:
n = int(input("enter number to print "))
for i in range (1,11):
    print(i*n)

enter number to print 5
5
10
15
20
25
30
35
40
45
50

In [9]:
n = input("Enter name of person ")
c = n.upper()
print("Name is ",c)

Enter name of person lfhi
Name is  LFHI

In [11]:
b = float(input("Enter base of triangle "))
h = float(input("Enter height of triangle "))
aot = (1/2)*b*h
print("Area of triangle is ",aot)

Enter base of triangle 5
Enter height of triangle 4
Area of triangle is  10.0

In [ ]:
for i in range(0)

In [7]:
n = int(input("enter number to print "))
for i in range (1,11):
    print("X",i,"=",i*n)

enter number to print 5
table is = 5
table is = 10
table is = 15
table is = 20
table is = 25
table is = 30
table is = 35
table is = 40
table is = 45
table is = 50