In [1]:
fn = "Raghav"
ln = "Goel"
print("{0}{1}".format(ln,fn))

GoelRaghav

In [2]:
a = input("What language are you working on ?")
print("We are working on ",a)

What language are you working on ?python
We are working on  python

In [9]:
F_name = input("please enter your first name ")
L_name = input("Please enter your last name ")
print("My name is {0}{1}".format(L_name,F_name))

please enter your first name Raghav
Please enter your last name Goel
My name is GoelRaghav

In [12]:
F_name = input("please enter your first name ")
L_name = input("Please enter your last name ")
city = input("Please enter your city ")
Gender = input("Please enter your Gender (M/F)")
print(F_name,L_name,city,Gender,sep = '-->')

please enter your first name Raghav
Please enter your last name Goel
Please enter your city Delhi
Please enter your Gender (M/F)M
Raghav-->Goel-->Delhi-->M

In [13]:
Integer = 2
print(type(Integer))

<class 'int'>

In [14]:
Float = 5.76544
print(type(Float))

<class 'float'>

In [16]:
a = 7
b = 3
c =round((a/b),3)
print(c)

2.333

In [17]:
a = 1 + 2j
b = 4j
c = 1 -2j
d = -6j
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [18]:
no = 2
print(type(no))

<class 'int'>

In [19]:
no = 2
nof = float(no)
print(type(nof),nof)

<class 'float'> 2.0

In [21]:
no1 = 2
no1 = complex(no1)
print(type(no1),no1)

<class 'complex'> (2+0j)

In [22]:
cmp = 1 + 2j
cmp = int(cmp)
print(type(cmp),cmp)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [23]:
No_float = 2.4567
print(type(No_float),No_float)

<class 'float'> 2.4567

In [26]:
No_float = 2.4567
No_float = int(No_float)
print(type(No_float),No_float)

<class 'int'> 2

In [27]:
a = "Raghav"
a = int(a)

ValueError: invalid literal for int() with base 10: 'Raghav'

In [28]:
a = "10"
print(type(a),a)

<class 'str'> 10

In [29]:
a = "10"
a = int(a)
print(type(a),a)

<class 'int'> 10

In [38]:
m = 201059087
print(type(m),m)

<class 'int'> 201059087

In [37]:
m = 201059087
m = str(m)
print(type(m),m)

<class 'str'> 201059087

In [36]:
m = 201059087
m = str(m)
print("Age =",m[0:2])
print("Height =",m[2:5])
print("Weight =",m[5:7])
print("Pin_code =",m[7:])

Age = 20
Height = 105
Weight = 90
Pin_code = 87